*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    height: 470px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 60%;
    color: white;
    padding-top: 15px;

}
body{
    font-family:Arial;
}
.topbar img{
    vertical-align: middle;
}

nav{
    display: inline-block;
    text-align: center;
    margin-left: 160px;
}

ul {
    list-style-type: none;
  }

li{
    display: inline-block;
}


.topbar{
    position: relative;
    font-family:Arial;
}
/* elmenti nel nav */

nav li{
    margin-right: 30px;

}
/* bottone accedi */
.topbar button{
    position: absolute;
    right: 0;
    top: 0.6px;

    background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:  15px;
	padding:4px 7px;
	text-decoration:none;
}
/* hover bottone accedi */
.topbar button:hover{
    background-color:#edfbff;
    cursor:pointer;
}

.width70{
    width: 65%;
    margin: 0 auto;
}

/* hover per elementi nav */
nav li:hover{
    border-bottom: 2px solid #edfbff;
    cursor: pointer;
    color:#edfbff;
}

.title-header{
    width: 50%;
    height: 40%;
}

.title-header h1{
    margin: 20% 0% 7% 0% ;
    text-align: center;
}

.title-header p{
    text-align: center;
    font-weight:bold;
}

.button-header{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.button-header button{
    margin-right: 20px;
    border-radius:28px;
    border:1px solid;
    font-size: 17px;
    padding: 11px 20px;
}

#mac{
	background-color:#ffffff;
	border:#ffffff;
	color:#000000;
}

#browser{ 
    background-color:#000000;
	border:#000000;
	color:#ffffff;
}

#mac::before{
    content: " \21A7";
}

.button-header button:last-child{
    margin-right: 0px;
}


.header-block .title-header{
   margin: 0 auto;
}

float-l{
    float: left;
}

clearfix::after{
        content: "";
        display: table;
        clear: both;
}

.disclaimer{
    margin-top: 40px;
    height: 500px;
}

.img-disclaimer{
    width: 40%;
}

.text-disclaimer{
    width: 50%;
}